<?xml version="1.0" encoding="UTF-8"?>

        <beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">

    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:connector.properties"></property>
    </bean>

    <bean id="connector" class="ru.itpark.bean.Connector">
        <property name="login" value="${connector.login}"></property>
        <property name="password" value="${connector.password}"></property>
    </bean>

</beans>